* {
  box-sizing: border-box;
}

body {
  background: #ffc;
}

.items-container {
  padding: 2rem;
}
.items-container .items {
  display: flex;
  flex-direction: column;

  margin: 0 0 1rem;
  padding: 0;
  list-style-type: none;
}

.items-container .item {
  display: flex;
  align-items: center;

  margin-bottom: .5rem;
  padding: .5rem;

  background: #fcc;
  color: #444;

  transition: all .2s ease;
  -webkit-transition: all .2s ease;
}
.items-container .item.removing {
  animation: fade-away .5s ease forwards;
  -webkit-animation: fade-away .5s ease forwards;
}
.items-container .item h2 {
  flex: 1 1 auto;
  margin: 0;

  font-size: 100%;
  font-weight: 400;

  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
}
.items-container .item button {
  flex: 0 0 auto;
  font-size: 75%;
  background: #f77;
  appearance: none;
  -webkit-appearance: none;
}

.items-container .item:last-child {
  margin-bottom: 0;
}
.items-container .item.completed {
  /* TODO: Add a transition */
  background: #cf9;
}

.items-container input {
  width: 100%;
  padding: .5rem;
}

.items-container .item,
.items-container input,
.items-container .item button {
  border: 4px solid rgba(0, 0, 0, .1);
  border-radius: 5px;
}

@keyframes fade-away {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  70% {
    transform: translateX(-25%) scale(0.8);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0.8;
  }
}
@-webkit-keyframes fade-away {
  0% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
  70% {
    -webkit-transform: translateX(-25%) scale(0.8);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: translateX(100%);
    opacity: 0;
  }
}
